.container {
    width: 100%;
    padding: 80px 30px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 75px;
    column-gap: 25px;

    width: 100%;
}

.recipes>.box {
    background-color: var(--primary-bg);
    height: 400px;

    border-radius: 24px;
    -webkit-box-shadow: 4px 4px 10px 0 #0000001f;
    box-shadow: 4px 4px 10px 0 #0000001F;

    display: flex;
    flex-direction: column;

    gap: 10px;

    padding: 20px;
    box-sizing: border-box;

    cursor: pointer;
    text-decoration: none;
}

.recipes>.box>.image-section {
    display: flex;
    justify-content: center;

    margin-top: -70px;
    max-width: 100%;
    max-height: 250px;
}

.recipes>.box>.image-section>.image {
    max-width: 100%;
    filter: drop-shadow(4px 4px 10px #0000001F);
}

.recipes>.box>.title {
    font-size: 1.25rem;
    font-weight: 600;
}

.recipes>.box>.description {
    font-size: 0.9rem;
    color: var(--secondary-font);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.recipes>.box>.badgers-section {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.badger {
    color: var(--secondary-font);
    background-color: var(--badger-bg);
    font-size: 0.9rem;
    border-radius: 16px;
    width: fit-content;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.badger>.icon {
    height: 20px;
}

@media screen and (max-width: 600px) {
    .recipes>.box>.image-section {
        height: auto;
        max-height: 250px;
    }
}