* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans ', sans-serif;
    font-size: 1.1rem;
    color: var(--primary-font);
}

body {
    display: flex;
    background-color: var(--secondary-bg);
    height: 100vh;
    width: 100vw;
}

:root {
    --primary-bg: #fff;
    --secondary-bg: #eeede8;

    --badger-bg: #f0f0f0;

    --primary-font: #3b3b3b;
    --secondary-font: #757575;
}