.menu {
    height: calc(100vh - 50px);
    margin:25px 0 25px 25px;
    width: 300px;
    display: grid;
    grid-template-rows: 40% 60%;
    flex-direction: column;
    background-color: var(--primary-bg);
    border-radius: 24px;
}

.menu > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.menu > .header > .title {
    font-size: 1.4rem;
}

.menu > .header > .presentation{
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.menu > .header > .presentation > .icon {
    width: 80px;
    margin-bottom: 15px;
    filter:drop-shadow(4px 4px 10px #0000001F);
}


.menu > .header > .presentation > .signature {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.menu > .header > .presentation > .signature > .secondary {
    font-size: 0.8rem;
    color: #757575;
}

@media screen and (max-width: 600px) {
    .menu {
        display: none;
    }
}