.back-button {
    height: 32px;
    width: 32px;
    background-color: var(--primary-bg);
    border: none;
    border-radius: 100%;
    padding: 8px;
    position: absolute;
    left: 45px;
    top: 45px;
    display: flex;
}

.pizza-bg {
    background-image: url('../images/recipes/bg-pizza.jpg');
}

.bolo-cenoura-bg {
    background-image: url('../images/recipes/bg-bolo.webp');
}

.strogonoff-bg {
    background-image: url('../images/recipes/bg-strogonoff.jpeg');
}

.brigadeiro-bg {
    background-image: url('../images/recipes/bg-brigadeiro.avif');
}

.pao-queijo-bg {
    background-image: url('../images/recipes/bg-pao.webp');
}

.recipe-picture {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
    border-radius: 16px;

    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.recipe-picture > * {
    color: var(--primary-bg);
    font-size: 2rem;
    text-shadow:0 0 5px black;
}

.recipe-picture > figcaption {
    color: var(--primary-bg);
    font-size: 1.4rem;
    text-shadow:0 0 5px black;
}


.container {
    padding: 30px 30px;
}

.content {
    flex: 1;
    width: 100%;
    background-color: var(--primary-bg);
    border-radius: 16px;
    overflow-y: scroll;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.content > ul, .content > ol {
    padding: 0 20px;
}

.title {
    font-weight: 600;
    font-size: 1.5rem;
}